<main class="h-screen overflow-hidden">
  <div data-controller="picture" class="flex flex-col h-full">

    <%= form_with model: @post, url: post_picture_path(@post), data: { controller: "form" }, id: "header_form" do |form| %>
      <div class="flex justify-between items-baseline p-4">
        <h1 class="font-medium mb-5">New post</h1>
        <%= form.hidden_field :picture_data, data: { "picture-target": "field" } %>
        <%= form.submit "→", class: "text-2xl text-blue-600 bg-white cursor-pointer" %>
      </div>
    <% end %>

    <div class="flex-grow bg-gray-200 max-h-96 flex justify-center flex-col overflow-hidden">
      <div class="relative object-contain">
        <%= image_tag @post.original_picture.variant(resize_to_limit: [448, 448]),
          class: "", data: { "picture-target": "original" } %>

        <%= image_tag @post.original_picture.variant(resize_to_limit: [448, 448]),
          class: "w-full h-auto absolute top-0 left-0", data: { "picture-target": "preview" } %>
      </div>
    </div>

    <div id="presets" class="overflow-x-scroll w-full z-10 bg-white py-3 flex-none mt-auto">
      <div class="flex min-w-min pb-5">
        <% PicturesHelper::PRESETS.each do |preset| %>
          <div class="preset text-center mr-1" data-controller="preset" data-preset-name-value="<%= preset %>" id="<%= preset.underscore %>_preset">
            <button type="button" data-action="click->picture#choosePreset">
              <span class="text-xs"><%= preset %></span>
              <div class="w-24 h-24 object-fill">
                <%= image_tag @post.original_picture.variant(resize_to_fill: [128, 128]), id: "#{preset.underscore}_preview",
                  data: { "preset-target": "thumbnail", action: "load->preset#applyPreset" } %>
              </div>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
